h1{
    text-align: center;
    font-size:50px ;
}


p{
    color: orange;
    font-size: 25px;
    text-align: center;
    font-style: italic;;
}

.content{
    background:rgb(136, 102, 136);
    width: 60%;
    padding :10px;
    margin: 100px;
}